{% extends "base.html" %}
{% block content %}
  <div class="card screen">
   <center><div class="screen-pill">Вход</div></center>
    <div class="hint">Введи данные от своего аккаунта.</div>

    <form method="post">
      {{ csrf_field() }}

      <div class="row">
        <div>
          <label>Логин</label>
          <input name="username" autocomplete="username" required>
        </div>
        <div>
          <label>Пароль</label>
          <input name="password" type="password" autocomplete="current-password" required>
        </div>
      </div>

      <div class="form-actions" style="margin-top:14px;">
        <button class="btn primary" type="submit">Войти</button>
        <a class="btn secondary" href="{{ url_for('main.register') }}">Регистрация</a>
      </div>

      
    </form>
  </div>
{% endblock %}
